<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Calculator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Multiplication</display-name>
    <servlet-name>Multiplication</servlet-name>
    <servlet-class>com.itsc.Multiplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Multiplication</servlet-name>
    <url-pattern>/Multiplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subtraction</display-name>
    <servlet-name>Subtraction</servlet-name>
    <servlet-class>com.itsc.Subtraction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subtraction</servlet-name>
    <url-pattern>/Subtraction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Division</display-name>
    <servlet-name>Division</servlet-name>
    <servlet-class>com.itsc.Division</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Division</servlet-name>
    <url-pattern>/Division</url-pattern>
  </servlet-mapping>
</web-app>